.header{
    border: 5px solid #1ab09c;
    background: #000000;
    padding: 10px 0px;
    text-align: center;
    margin: 0px 30%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: rgb(245, 239, 239);
    font-weight: bold;
    font-size: 2rem;

}
.headerLeft{
    display: flex;
    align-items: center;
}
.menuHeder{
    margin:0px 10px;
    padding: 10px;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}
.btnCreateNew{
    border: 1px solid rgb(4 238 207);
    border-radius: 5px;
    padding: 10px;
    background: #1ab09c;
}
.btnCreateNew:hover,.menuHeder:hover{
    cursor: pointer;
    border: 1px solid rgb(4 238 207);
    border-radius: 5px;
    padding: 10px;
    background: #1ab09c;
}
.search{
    padding: 10px 50px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    position: relative;
}
.iconSearch{
    position: fixed;
    top: 4%;
    right: 15%;
}