.mainWork{
    margin-left: 20px;
}

.tableWork{
    border: 1px solid #ebecf0;
    border-radius: 5px;
    background: #ebecf0;
    margin-right: 10px;
}
.title{
       font-size: 1.1rem;
       width: 190px;
       background: #ebecf0;
       border: 1px solid #ebecf0;
       border-radius: 5px;
       padding:10px;
       height:15px;
}
.nameWork{
    border: 1px solid #fff;
    background: #fff;
    margin: 5px;
    border-radius: 5px;
    padding: 25px;
    position: relative;

}
.nameWork:hover {
    cursor: pointer;
    opacity: 0.8;
}
.nameWork:hover .iconEdit{
    display: block;
  
}
.tableChildren{
    display: flex;
    padding-top:40px;
}
.iconNameWork{
    font-size: 0.9rem;
    opacity: 0.8;
    margin-left: 5px;
}
.iconClose{
    font-size: 0.9rem;
    opacity: 0.8;
    margin-left: 5px;
}
.title:hover .iconCloseTableName{
    display: block;
}

.name{
    font-size: 1.1rem;
    border: 1px solid #fff;



}
.editName{
    display: flex;
    justify-content: space-between;
}
.iconEdit{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
}
.nameMain{
    position: absolute;
    top: -5%;
    left: 105%;
    width: 100%;
}
.addNameTableInput{
    height: 30px;
    width: 200px;
    background: #ebecf0;
    border: 1px solid #ebecf0;
    border-radius: 5px;
}
.btnAddList{
    background: #04eecf;
    border: 1px solid #04eecf;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btnAddList:hover{
    opacity: 0.9;

}
.addCard{
    height: 30px;
    width: 200px;
    background: #ebecf0;
    border: 1px solid #ebecf0;
    border-radius: 5px;
}
.none{
    display:none;
}
.editName{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

}
.editText{
    width: 145px;
    margin-right: 10px;
}
.btnEdit{
    background: #04eecf;
    border: 1px solid #04eecf;
    padding: 10px 8px;
    
    border-radius: 5px;
    cursor: pointer;

}
.workDetail{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 350px;
    background: #ebecf0;
    z-index: 1;
    border-radius: 5px;
    padding:5px;
    box-shadow: 1px 2px 2px 2px rgb(0 0 0 / 21%);
    overflow: auto;
}
.iconCloseDetail{
    font-size: 1.2rem;
    cursor: pointer;
}
.headerDetail{
    display:flex;
    justify-content: space-between;
}
.description{
    height: 50px;
    width: 400px;
    background: #ffffffeb;
    border: 1px solid #ffffffeb;
}
.buttonSave{
    padding: 5px 10px;
    background: #04eecf;
    border: 1px solid #04eecf;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.afterSave{
    background: #ebecf0;
    border: 1px solid #ebecf0;
    height: 50px;
    width: 400px;
    font-size: 1.3rem;
}
.addWorkButton{
    border-radius: 2px;
    padding: 8px 25px;
    border: 1px solid #9e9a9a40;
    background: #9e9a9a40;
    cursor: pointer;
}
.addWork{
    background: #ffffff;
    width: 25%;
    position: absolute;
    right: 1%;
    bottom: 12%;
    height: 100px;
    width: 240px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px rgb(0 0 0 / 21%);
}
.workInput{
    padding:10px 5px;
    width:225px;
}
.btnSaveWork{
    margin-right: 35%;
    margin-top: 20px;
    padding: 5px 20px;
    background: #04eecf;
    border: 1px solid #04eecf;
    border-radius: 5px;
    cursor: pointer;
}
.task{
    margin-bottom: -5px;
    background: #ebecf0;
    border: 1px solid #ebecf0;
    height: 40px;
    width: 360px;
    font-size: 1.2rem;
}
